{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <h1>Welcome to My App</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at ex vel nibh bibendum pharetra in nec turpis.</p>
      <p>Etiam eget purus id velit pellentesque interdum ac nec lacus. Nunc euismod mauris ut odio consectetur, ut suscipit ipsum ultricies. Aliquam dapibus felis vitae risus auctor, vel venenatis tellus iaculis. Donec ut justo elit. Integer auctor ligula sed sapien tristique, ut facilisis dolor congue. Fusce id fringilla enim. Donec eu risus eu est feugiat commodo. Curabitur nec erat malesuada, venenatis justo in, suscipit velit.</p>
      <p>Pellentesque mattis, purus at blandit dignissim, dolor metus euismod tellus, eu rutrum mi augue vel mi. Pellentesque ullamcorper tincidunt massa. Nullam malesuada ante eget ex rhoncus auctor. Integer non malesuada lorem. Nunc laoreet eros id lacus posuere, eget commodo ex interdum. Fusce euismod, metus vel commodo dictum, est ex placerat orci, at euismod mauris arcu a ante. Ut euismod rutrum tortor, a ullamcorper lectus commodo vel. Praesent fringilla sapien sit amet semper faucibus. Etiam eget turpis auctor, elementum arcu ut, tincidunt arcu. Duis bibendum eget lectus vitae pulvinar. Praesent consequat enim in mauris dapibus scelerisque.</p>
    </div>
     
</div>

{% if user.is_authenticated %}
  <p class="logged-in-message">You are logged in as <span class="username">{{ user.username }}</span>.</p>
{% else %}
  <p class="not-logged-in-message">You are not logged in. <a href="{% url 'login' %}" class="login-link">Log in</a> or <a href="{% url 'register' %}" class="register-link">register</a> to continue.</p>
{% endif %}

{% if request.session.has_csrf_token %}
  <p>The CSRF token is: {{ csrf_token }}</p>
{% endif %}
{% endblock %}
